/* 字体驱动加载 */

@font-face {

        font-family: 'alkatip basma tom';

        src: url('https://cdn.jsdelivr.net/gh/kaysarbiz/texiao@main/uyghurfont/ALKATIPBasmaTom.ttf') format('truetype');

        font-weight: normal;

        font-style: normal;

}

@font-face {

        font-family: 'alkatip tor';

        src: url('https://cdn.jsdelivr.net/gh/kaysarbiz/texiao@main/uyghurfont/ALKATIPTor.ttf') format('truetype');

        font-weight: normal;

        font-style: normal;

}

body {

        font-size: 14px;

}

p {

        font-size: 14px;

}

* {

        font-family: "alkatip tor", serif;

        direction: rtl;

        font-weight: 100;

}

div.column div.column-title,

div.column div.column-title *,

body,h1, h2, h3,  b, strong,
body*,h1 *, h2 *, h3 *, b * ,strong *{

        font-family: "alkatip basma tom", "微软雅黑", serif;

}


.normal {

        font-family: "ukij tuz tom", serif;

}

.uy {

        direction: rtl;

            font-family: "alkatip tor", serif;

}

.cn {

        direction: ltr;

            font-family:  "微软雅黑", serif;

}

.en {

        direction: ltr;

            font-family: Arial,serif;

}