@font-face {
        font-family: 'kaysar';
        font-weight: 400;
        font-style: normal;
        font-display: swap;
        src: url('./sanjihangkaiti.ttf');
        src: url('./sanjihangkaiti.ttf') format('truetype');
            }