html, body, #root, .App {
min-height:70vh;
    margin: 0px;
    padding: 0px;
    margin-top: 1%!important;
}
.chakra-ui-light{
  background-color: #FAF5FF;
}
.main-box {
  border-radius: 15px !important;
  box-shadow: unset !important;
}
.chakra-ui-light .main-box {
  background-color: rgba(255,255,255,0.9) !important;
}
.chakra-ui-light .readme-box {
  background-color: rgba(255,255,255,0.9) !important;
}
.readme-box {
  border-radius: 15px !important;
  box-shadow: unset !important;
}


body {
background-color:rgba(125, 169, 242, 0.2)!important;
background-image: url() !important; 
background-size: cover !important; 
background-position: center top !important;
background-attachment: fixed !important; 
}   
.chakra-ui-light .main-box ,.readme-box{
    background-color: rgb(66 153 225 / 25%) !important;
}
.chakra-ui-light .readme-box{
    background-color: rgb(66 153 225 / 25%) !important;
}
.chakra-breadcrumb__list li{color: rgba(242, 125, 169, 0.9)!important;}
.chakra-breadcrumb__list li a{color: rgba(125 161 242 / 99%)!important;}
.css-neion {color: rgba(242, 125, 169, 0.9)!important;}
.chakra-stack button{color: rgba(242, 125, 169, 0.9)!important;}
.overlay button{color: rgba(242, 125, 169, 0.9)!important;}
.chakra-stack .list-title p{color: rgba(242, 125, 169, 0.9)!important;}
a{color:#1891f9!important;}
a:hover {color: #F27DD0!important} 
.css-g9cw6v a{display: none!important;}
.footer span{display: none!important;}
/*
html{
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%); 
-ms-filter: grayscale(100%); 
-o-filter: grayscale(100%); 
filter: grayscale(100%);
filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1); 
filter:gray; /*ie9- 
}*/
.foot{
                line-height: 40px;
             /*   position: fixed; */
                bottom: 0;
                width: 100%;
                text-align: center;
                letter-spacing: 1px;
}
.foot p{color: #000;!important;}
dibu {
    border-top: 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0px;
    padding: 0px;
} 

lia{
    display:block;
    color:white;
    text-align:center;
    padding:45px110px;
    text-decoration:none;
}

lia:hover{

    background-color:mistyrose;

.vanta-canvas,canvas{width: 0px!important;  height: 0px!important;}