.joe_header__above-nav>.item::after,
.joe_pagination li.active a,
.joe_header__above-search .submit,
.joe_detail__count::after,
.joe_census__filing .content .item.load .button,
.joe_census__filing .content .item.load .head,
.joe_post__pagination-item a,
.joe_header__searchout-inner .search button,
.joe_comment__respond-type .item.active,
.joe_comment__respond-form .foot .submit button,
.joe_owo__contain .box .bar .item.active,
.joe_list__item.default .thumbnail time,
.joe_index__title-title .line,
.joe_load,
.joe_tabs__head-item::after,
.joe_detail__category .item-0 {
    background: linear-gradient(to right, var(--theme), #05D1D3) !important;
}
.joe_load {
    color: #fff !important;
}
.joe_list__item .line,
.joe_cloud__btn,
.joe_detail__related-title::before,
.joe_detail__article h3::before {
    background: linear-gradient(to bottom, var(--theme), #05D1D3) !important;
    
}
.joe_census__filing .content .item.load .button::before {
    border-right-color: var(--theme) !important;
}
/*页脚标签样式*/ 
.github-badge {
    display: inline-block;
    border-radius: 2px;
    text-shadow: none;
    font-size: 10px;
    color: #fff;
    line-height: 13px;
    background-color: #ABBAC3;
    margin-bottom: 3px;
}
.github-badge .badge-subject {
    display: inline-block;
    background-color: #4D4D4D;
    padding: 2px 2px 2px 3px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.github-badge .badge-value {
    display: inline-block;
    padding: 2px 3px 2px 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.github-badge .bg-brightgreen {
    background-color: #4c1 !important;
}
.github-badge .bg-green {
    background-color: #97CA00 !important;
}
.github-badge .bg-yellow {
    background-color: #dfb317 !important;
}
.github-badge .bg-zise {
    background-color:#F08080 !important;
}
.github-badge .bg-orange {
    background-color: #fe7d37 !important;
}
.github-badge .bg-red {
    background-color: #e05d44 !important;
}
.github-badge .bg-blue {
    background-color: #007ec6 !important;
}
.github-badge .bg-grey, .github-badge .bg-gray {
    background-color: #555 !important;
}
.github-badge .bg-lightgrey, .github-badge .bg-lightgray {
    background-color: #9f9f9f !important;
}
/*这里是主题颜色和透明度*/ 
body { --theme: #746afc; --background: rgba(255,255,255,0.5) }