.chakra-ui-light{
  background-image: url("https://api.123home.page/api.php?category=landscape") !important;
  background-repeat:no-repeat;background-size:cover;background-attachment:fixed;background-position-x:center;
}
.main-box {
  border-radius: 15px !important;
}
.chakra-ui-light .main-box {
  background-color: #ffffff70 !important;
}
.chakra-ui-light .readme-box {
  background-color: #ffffff70 !important;
}
.readme-box {
  border-radius: 15px !important;
}
a{color:#1891f9!important;}
.foot{
    line-height: 40px;
    /*   position: fixed; */
    bottom: 0;
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
}
.foot p{color: #000;!important;}
dibu {
    border-top: 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0px;
    padding: 0px;
} 
