.chakra-ui-light{
  background-image: linear-gradient(120deg,#e0c3fc 0%,#8ec5fc 100%) !important;
  background-attachment: fixed;
}
.main-box {
  border-radius: 15px !important;
}
.chakra-ui-light .main-box {
  background-color: white !important;
}
.chakra-ui-light .readme-box {
  background-color: white !important;
}
.readme-box {
  border-radius: 15px !important;
}
/*底部隐藏代码https://pan.lixiyun.net/*/
.css-g9cw6v a{display: none!important;}
.footer span{display: none!important;}
/*底部隐藏代码结束*/